* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
}

window#waybar {
  background-color: #181926;
  color: #cad3f5;
  transition-property: background-color;
  transition-duration: 0.5s;
}

widget > label {
  border-radius: 20px;
  margin: 10px;
  padding: 0 10px;
}

#clock {
  background-color: #494d64;
}

#cpu {
  background-color: #a6da95;
  color: #181926;
}

#memory {
  background-color: #c6a0f6;
  color: #181926;
}

#pulseaudio {
  background-color: #eed49f;
  color: #181926;
}

#tray {
  margin: 10px;
  border-radius: 20px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}
